.footer-container{
    display: flex;
    justify-content: center;
    gap: 50px;
    align-content: center;
    align-items: center;
    min-height: 390px;
    flex-wrap: wrap;
    bottom: 0px;
}

.left-footer-section{
    max-width: 362px;
    margin-bottom: 100px;
}

.logo{
    width: 114.27px;
    height: 33.32px;
}

.Right-footer-content{
    font-family: "Libre Franklin", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24.5px;
    margin-top: 15px;

}

.icons{
    max-width: 430px;
}

.icons img{
    width: 100%;
}

.right-footer-section{
    display: flex;
    flex-direction: column;
}

.lists{
    display: flex;
    gap: 60px;
    flex-wrap: wrap;
}

.list-head{
    font-family: "Miriam Libre", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.list-content{
    font-family: "Libre Franklin", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24.5px;
    cursor: pointer;
}

.list-content img{
    display: inline-block;
    width: 13.46px;
    height: 12px;
}