* {
    padding: 0px;
    margin: 0px;
}


#nav {
    display: flex;
    /* justify-content: space-around; */


    /* border: 2px solid green; */
    font-family: "MiriamLibre-Regular";
    font-size: 15px;
    margin-top: 100px;
    margin-left: 70px;

}

#main1 {
    border: 2px solid green;
    height: 100vh;


}

#child {
    border: 1px solid orange;
    height: 150px;

}

#bar {
    display: flex;
    /* border: 2px solid green; */
    flex-direction: row;
    align-items: center;

}


#bar p {
    padding: 10px;
}



#header {
    font-family: "MiriamLibre-Bold";
    font-size: 40px;
    padding-top: 50px;
    padding-left: 70px;

}

#text {
    font-family: "MiriamLibre-Regular";
    width: 25%;
    font-size: 20px;
    margin-left: 70px;
    margin-top: 20px;

}