* {
    margin: 0px;
    padding: 0px;
}

#headerbody {

    /* border: 2px solid red; */
    width: 80%;
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    font-family: "MiriamLibre-Bold";
}

p {
    font-family: "MiriamLibre-Bold";
    font-size: 17px;
}

#heading {
    font-size: 50px;
    /* border: 2px solid pink; */
    margin-left: 80px;
    margin-top: 20px;
}

#table {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    /* border: 2px solid green; */
    width: 52%;

    margin-left: 80px;
}