@font-face {

  font-family: "Libre-Franklin";
  src: local("LibreFranklin-VariableFont_wght"),
    url('/Fonts/LibreFranklin-VariableFont_wght.ttf') format("truetype");
  font-family: "MiriamLibre-Bold";
  src: local("MiriamLibre-Bold"),
    url('/src/Fonts/MiriamLibre-Bold.ttf') format("truetype");
}

